<div class="micromodal" id="deprecation-notice-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="deprecation-notice-title">
            <header class="modal__header">
                <h1 class="modal__title" id="deprecation-notice-title">
                    {{t "Deprecation notice" }}
                </h1>
                <button class="modal__close" aria-label="{{t 'Close modal' }}" data-micromodal-close></button>
            </header>
            <main class="modal__content">
                <p>{{message}}</p>
            </main>
            <footer class="modal__footer">
                <button class="button rounded modal__btn modal__btn-primary" id="close-deprecation-notice" aria-label="{{t 'Close this dialog window' }}" data-micromodal-close>{{t "Got it" }}</button>
            </footer>
        </div>
    </div>
</div>
